<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="header">
        <span class="logo">Bookmarks</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == 'dashboard' %}class="selected"{% endif %}>
                    <a href="{% url 'account:dashboard' %}">Личный кабинет</a>
                </li>
                <li {% if section == 'questions' %}class="selected"{% endif %}>
                    <a href="{% url 'polls:question_list' %}">Вопросы</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Привет {{ request.user.username }},
                <a href="{% url 'account:logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'account:login' %}">Войти</a>
            {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>