<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question.question_text }}</title>
</head>
<body>
    <h1>{{ question.question_text }}</h1>
    <p>Автор: {{ question.user.login }}</p>
    <p>Категория: {{ question.category.title }}</p>
    <p>Опубликовано: {{ question.pub_date }}</p>

    <h2>Ответы:</h2>
    <ul>
        {% for answer in answers %}
            <li>{{ answer.answer_text }} - {{ answer.user.login }} ({{ answer.pub_date }})</li>
        {% empty %}
            <li>Нет ответов.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'question_list' %}">Назад к списку вопросов</a>
</body>
</html>