{% extends "base.html" %}

{% block title %}Список вопросов{% endblock %}
{% block content %}
    <p><b>{{ question.user.login }}</b> - ({{ question.pub_date }})</p>
    <h1>{{ question.question_title }}</h1>
    <h2>Ответы:</h2>
        {% for answer in answers %}
            <div><b>{{ answer.user.login }}</b> - ({{ answer.pub_date }})</div>
            <p>{{ answer.answer_text }}</p>
            <p>Лайки - {{ answer.likes_count }}</p>
        {% empty %}
            <div>Нет ответов.</div>
        {% endfor %}
    <a href="{% url 'question_list' %}">Назад к списку вопросов</a>
{% endblock %}