{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Пользователи</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for user in users %}
        <div class="col">
            <div class="card h-100">
                {% if user.image %}
                <img src="{{ user.image.url }}" class="card-img-top" alt="{{ user.username }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">
                        Вопросов: {{ user.question_count }}<br>
                        Ответов: {{ user.answer_count }}
                    </p>
                    {% if user.web_url %}
                    <a href="{{ user.web_url }}" class="btn btn-outline-primary" target="_blank">
                        <i class="fas fa-external-link-alt"></i> Веб-сайт
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <p class="text-muted">Пользователей пока нет</p>
        </div>
        {% endfor %}
    </div>
    
    {% include 'polls/includes/pagination.html' %}
</div>
{% endblock %} 