{% if is_paginated %}
<nav class="mt-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">
                Назад
            </a>
        </li>
        {% endif %}
        
        <li class="page-item disabled">
            <span class="page-link">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>
        </li>
        
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">
                Вперед
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %} 